# Share of Active Users
Calculate the percentage of users who are both from the US and have an 'open' status, as indicated in the fb_active_users table.<br> <br>
Table: fb_active_users

In [2]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.window import Window

import os
import sys

In [4]:
os.environ["JAVA_HOME"] = "C:/Program Files/Java/jdk-11"
spark = SparkSession.builder.appName('Share of Active Users').getOrCreate()

df = spark.read.format('csv') \
    .option('header', 'true') \
    .option('inferSchema', 'true') \
    .load("../Data/fb_active_users.csv")
    
df.show()

+-------+----------------+------+----------+
|user_id|            name|status|   country|
+-------+----------------+------+----------+
|     33|     Amanda Leon|  open| Australia|
|     27| Jessica Farrell|  open|Luxembourg|
|     18|   Wanda Ramirez|  open|       USA|
|     50|   Samuel Miller|closed|    Brazil|
|     16|      Jacob York|  open| Australia|
|     25|Natasha Bradford|closed|       USA|
|     34|     Donald Ross|closed|     China|
|     52|Michelle Jimenez|  open|       USA|
|     11|    Theresa John|  open|     China|
|     37|  Michael Turner|closed| Australia|
|     32| Catherine Hurst|closed|      Mali|
|     61|     Tina Turner|  open|Luxembourg|
|      4|   Ashley Sparks|  open|     China|
|     82|      Jacob York|closed|       USA|
|     87|    David Taylor|closed|       USA|
|     78|Zachary Anderson|  open|     China|
|      5|      Tiger Leon|closed|     China|
|     56|  Theresa Weaver|closed|    Brazil|
|     21|   Tonya Johnson|closed|      Mali|
|     89|      Kyle Curry|closed|      Mali|
+-------+----------------+------+----------+
only showing top 20 rows

In [12]:
result = df.withColumn(
    'active_users',
    F.when((F.col('status') == 'open') & (F.col('country') == 'USA'), 1).otherwise(0)
    )

result = result.agg(
    F.round(
        F.sum('active_users')/F.count('*') * 100,
        2
        ).alias('us_active_share')
    ).show()

+---------------+
|us_active_share|
+---------------+
|          13.04|
+---------------+