In [1]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.window import Window
import os

In [2]:
os.environ['JAVA_HOME'] = "C:/Program Files/Java/jdk-11"
spark = SparkSession.builder.appName('test_file').master("local").getOrCreate()

In [3]:
src_path = r"C:\Users\chipp\OneDrive\Desktop\Training Folder\Pyspark_Training\pyspark_training\testing_framework\data\src.csv"

src_df = spark.read.format('csv') \
                .option('header', True)\
                .option('inferSchema', True)\
                .load(src_path)

In [4]:
print(src_df.columns)

['CinemaCode', 'CinemaName', 'MovieId', 'TicketCount', 'TicketPrice', 'TransactionId', 'TransactionDt']

In [8]:
excluded_cols_src = ['TransactionDt']

src_cols = [col.strip().lower() for col in src_df.columns if col not in excluded_cols_src]
src_cols

['cinemacode',
 'cinemaname',
 'movieid',
 'ticketcount',
 'ticketprice',
 'transactionid']

In [17]:
src_columns = [' ID ', ' Name', 'Amount ', 'CreatedDate']
tgt_columns = ['id', 'AMOUNT', 'name', 'UpdatedBy']
oth_columns = [' ID ', ' Name', 'AMOUNT ', 'CreatedDate', 'UpdatedBy']
excluded_columns = ['createddate', 'updatedby']

src_cols = [col.strip().lower() for col in src_columns if col.strip().lower() not in excluded_columns]
tgt_cols = [col.strip().lower() for col in tgt_columns if col.strip().lower() not in excluded_columns]
oth_cols = [col.strip().lower() for col in oth_columns if col.strip().lower() not in excluded_columns]

print(src_cols)
print(tgt_cols)
print(oth_cols)

['id', 'name', 'amount']
['id', 'amount', 'name']
['id', 'name', 'amount']

In [26]:
zipped_cols = enumerate(zip(src_cols, tgt_cols))
list(zipped_cols)

[(0, ('id', 'id')), (1, ('name', 'amount')), (2, ('amount', 'name'))]

In [27]:
mismatched = []

for idx, (src_c, tgt_c) in enumerate(zip(src_cols, tgt_cols)):
    if src_c != tgt_c:
        mismatched.append((idx, src_c, tgt_c))

In [28]:
mismatched

[(1, 'name', 'amount'), (2, 'amount', 'name')]

In [29]:
[str.lower('TransactionDt')]

['transactiondt']